*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // set base font to 10px, 16px * 0.625 = 10px
  box-sizing: border-box;

}

body {
  font-size: 1.3rem;
  font-family: 'Manrope', sans-serif;
  line-height: 2rem;
  letter-spacing: 0.121875px;
}